<div class="container w-50">
<h1>Update Slot Status</h1>
    <%= form_with(model: slot, local: true) do |form| %>
        <div class="form-group m-1 w-50">
            <%= select_tag "status", 
                options_for_select(Slot.statuses.map {|s| s}), 
                prompt: "Select something",class: "form-select"
            %>
            <div class="form-group m-1 text-end">
                <%= form.submit "Update Status", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>