<div class="container w-50">
    <h1>Booking logs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>vehicle_registration_number</th>
                <th>Slot Number</th>
                <th>Entry Point Number</th>
                <th>Booked At</th>
            </tr>
        </thead>
        <tbody>
            <% @booking_details.each do |booking_detail|%>
                <tr>
                    <td><%= booking_detail.vehicle.registration_number%></td>
                    <td><%= booking_detail.slot.slot%></td>
                    <td><%= booking_detail.entry_point.point%></td>
                    <td><%= raw booking_detail.booked_at.strftime("%d/%m/%Y <br/> %I:%M %p")%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
